[submodule "descent"]
	path = descent
	url = https://github.com/IronicResearch/descent.git
[submodule "dxx-rebirth"]
	path = dxx-rebirth
	url = https://github.com/IronicResearch/dxx-rebirth.git
	branch = main
[submodule "mesa"]
	path = mesa
	url = https://github.com/IronicResearch/mesa-dev.git
	branch = 21.3-dev
[submodule "StereoDemos"]
	path = StereoDemos
	url = https://github.com/IronicResearch/StereoDemos.git
